<p id="notice"><%= notice %></p>

<p>
  <b>Play:</b>
  <%= @raffle.play_id %>
</p>

<p>
  <b>Performance:</b>
  <%= @raffle.performance_id %>
</p>

<p>
  <b>Patron:</b>
  <%= @raffle.patron_id %>
</p>


<%= link_to 'Edit', edit_raffle_path(@raffle) %> |
<%= link_to 'Back', raffles_path %>
