<p id="notice"><%= notice %></p>

<p>
  <b>Start date:</b>
  <%= @source.start_date %>
</p>

<p>
  <b>Name:</b>
  <%= @source.name %>
</p>

<p>
  <b>Notes:</b>
  <%= @source.notes %>
</p>


<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
