<h1>Listing activities</h1>

<table>
  <tr>
    <th>Role</th>
    <th>Patron</th>
    <th>Play</th>
    <th>Performance</th>
    <th>Hours</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.role_id %></td>
    <td><%= activity.patron_id %></td>
    <td><%= activity.play_id %></td>
    <td><%= activity.performance_id %></td>
    <td><%= activity.hours %></td>
    <td><%= activity.start_date %></td>
    <td><%= activity.end_date %></td>
    <td><%= activity.notes %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
